{% extends 'base.html' %}

{% block title %}
    Log out successful
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            Logged out
        </div>
    </div>
{% endblock %}

{% block heading %}
    <div class="alert alert-info">
    Log out successful
    </div>
{% endblock %}

{% block content %}
        You have been logged out.
        <br />
        You can <a href="{% url 'login' %}">login</a> again, or return to the
        <a href="{% url 'index' %}">home page</a>.
{% endblock %}
