{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            Login
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h3>Login</h3>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <input value="Login" type="submit" class="btn btn-success" id="login_button">
    </form>
{% endblock %}
