{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            Register
        </div>
    </div>
{% endblock %}

{% block heading %}
<h2>Create your account</h2>
{% endblock %}

{% block content %}
    <div class="card border-primary">
        <div class="card-body">
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}
