{% extends "base.html" %}

{% block title %}
    {{ study.name }} - Allocation table
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_detail' study.id %}">
                {{ study.name }}
            </a>
        </div>
        <div class="breadcrumb-item">
            Participants
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h3>Allocated participants</h3>
{% endblock %}


{% block content %}
    <div id="table_info">
        <p>Showing 10 participants at a time. Download the allocation table to see all participants</p>
        <a id="excel_download" class="btn btn-success" href="{% url 'allocation_table_download' study.id %}">
            Download Excel
        </a>
    </div>

    <table class="table table-striped table-hover table-bordered table-responsive-md">
        <thead class="table-primary">
            <th>ID code</th>
            <th>Date assigned</th>
            <th>Allocated by</th>
            {% for level in first_allocation.levels.all %}
                <th>{{ level.factor }}</th>
            {% endfor %}
            <th>Arm</th>
        </thead>
        <tbody>
        {% for participant in allocations.all %}
            <tr>
                <td>{{ participant.id_code }}</td>
                <td>{{ participant.date_assigned }}</td>
                <td>{{ participant.allocated_by.email }}</td>
                {% for level in participant.levels.all %}
                    <td>{{ level.name }}</td>
                {% endfor %}
                <td>{{ participant.arm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page selection">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
            {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

            {% for page in paginator.page_range %}
                <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
            {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
