{% extends "base.html" %}

{% block title %}
    {{ allocation.id_code }} - Details
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
            {{ allocation.study.name }}
        </div>
        <div class="breadcrumb-item">
            Participants
        </div>
        <div class="breadcrumb-item">
            {{ allocation.id_code }}
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h3>{{ allocation.id_code }}</h3>
{% endblock %}

{% block content %}
    <dl class="dl-horizontal">
        <dt>
            Arm assigned:
        </dt>
        <dd>
        <span class="badge badge-pill badge-primary">
            {{ allocation.arm }}
        </span>
        </dd>
        <dt>
            Allocated by:
        </dt>
        <dd>
            {{ allocation.allocated_by }}
        </dd>
        <dt>
            Date assigned:
        </dt>
        <dd>
            {{ allocation.date_assigned }}
        </dd>
    </dl>
    <h4>Factor levels:</h4>
    <table class="table table-bordered table-responsive">
        <thead class="table-primary">
            <th>Factor</th>
            <th>Level</th>
        </thead>
        <tbody>
        {% for level in allocation.levels.all %}
            <tr>
                <td>{{ level.factor.name }}</td> <td>{{ level.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
