{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>
        </div>
        <div class="breadcrumb-item">
            Allocate a participant
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card border-primary">
        <div class="card-body">
            <form id="allocation_form" action="{% url 'allocate_new' study.id %}" class="form-group" method="post">
                {% csrf_token %}
                {% crispy form %}
                <button class="btn btn-success" id="show_confirm" data-toggle="modal" data-target="#confirm_modal" type="button">Allocate</button>
                <div class="modal" id="confirm_modal" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please check and confirm before you submit:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group" id="confirm_values">
                                    {% for field in form.visible_fields %}
                                    <li class="list-group-item">
                                        <strong>{{ field.label }}:</strong>
                                        <span id="id_{{ field.id_for_label }}_value" data-input="{{ field.id_for_label }}"></span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <div class="form-actions">
                                    <input type="submit" name="submit" value="Allocate" class="btn btn-success" id="submit-save">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_end_scripts %}
    <script type="text/javascript">
        $("#confirm_modal").on("show.bs.modal", function(event) {
            $("#confirm_values span").map(function(index, el) {
                console.log(el);
                var original_input = $("#" + $(el).attr("data-input"));
                $(el).text(original_input.val());
            });
        });
    </script>
{% endblock %}
