{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
            Create new
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h2>Create new study</h2>
{% endblock %}

{% block content %}
    <div class="card border-primary">
        <div class="card-body">
            <form action="{% url 'create_study' %}" class="form-group" method="post">
                {% csrf_token %}
                {% crispy form %}

                <h3>Arms:</h3>
                <div id="arm-formset">
                    {% crispy arm_formset arm_formset_helper %}
                </div>

                <div class="form-actions">
                    <input type="button" value="Add arm" id="add_more" class="btn btn-primary">
                    <input type="button" value="Delete last arm" id="delete_one" class="btn btn-danger">
                    <input type="submit" name="submit" value="Save Study and Arms" class="btn btn-success" id="submit-save">
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_end_scripts %}
    <script src="{% static 'randomizer/js/formset_manager.js' %}"></script>
    <script>
        (function() {
            let fm = new FormsetManager($("#arm-formset"), "arm", ["name", "description", "ratio"]);

            $("#add_more").on("click", function() {
                fm.add_extra_fieldset();
            });
            $("#delete_one").on("click", function() {
                fm.remove_one_fieldset();
            });
        })()
    </script>
{% endblock %}