{% extends "base.html" %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">Home</div>
    </div>
{% endblock %}

{% block heading %}
    <div class="jumbotron">
        <h3>Welcome to Leveller!</h3>

        <hr class="my-0">

        <p class="lead">
            Leveller is software that allows you to quickly and easily set up a clinical
            trial, using <em>minimization</em> to maintain good balance across important
            factors that could affect the trial outcomes.
        </p>

    </div>
{% endblock %}

{% block content %}
    <div class="card border-primary">
        <div class="card-body">
            <p class="lead">
            You can create an account <a href="/accounts/register">here</a>. Once you
            have an account, you can either:
            </p>

            <ul class="list_container">
                <li>Set up a new study as an admin.</li>
                <li>Allocate participants to study arms (once a study admin adds you to the trial).</li>
            </ul>
        </div>
    </div>
{% endblock %}
