{% extends "base.html" %}

{% block title %}
    My studies
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            Studies
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h3>My studies</h3>
{% endblock %}


{% block content %}
    <table class="table table-bordered table-responsive">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>My roles: Admin?</th>
                <th>Allocator?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for study in studies %}
                <tr>
                    <td>
                        <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>
                    </td>
                    <td>
                        {% if study.status == study.PLANNING_STATUS %}
                            <span class="badge badge-info">Planning</span>
                        {% elif study.status == study.IN_PROGRESS_STATUS %}
                            <span class="badge badge-success">In progress</span>
                        {% elif study.status == study.FINISHED_STATUS %}
                            <span class="badge badge-danger">Finished</span>
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if user in study.admins.all %}
                            <span class="badge badge-success">✔</span>
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if user in study.allocators.all %}
                            <span class="badge badge-success">✔</span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{% url 'allocate_new' study.id %}">
                                    Allocate a participant
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'study_detail' study.id %}">
                                    View/configure study details
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="list-group">
    </ul>
{% endblock %}
