{% extends "base.html" %}

{% block title %}
{{ study.name }} - Details
{% endblock %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
                {{ study.name }}
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h3>{{ study.name }}</h3>
{% endblock %}

{% block content %}


    <dl class="row dl-horizontal">
        <dt class="col-sm-4">
            Participants assigned:
        </dt>
        <dd class="col-sm-8">
            {{ study.n_assigned }}
        </dd>
        <dt class="col-sm-4">
            Date created:
        </dt>
        <dd class="col-sm-8">
            {{ study.date_created }}
        </dd>
        <dt class="col-sm-4">Status:</dt>
        <dd class="col-sm-8">
            {% if study.status == study.PLANNING_STATUS %}
                <button class="btn btn-outline-info">Planning</button>
            {% elif study.status == study.IN_PROGRESS_STATUS %}
                <button class="btn btn-primary">In Progress</button>
            {% elif study.status == study.FINISHED_STATUS %}
                <button class="btn btn-outline-danger">Finished</button>
            {% endif %}
        </dd>
        <dt class="col-sm-4">Minimization settings:</dt>
        <dd class="col-sm-8">
            {% if study.has_config %}
                <a href="{%  url 'update_config' study.id %}" class="btn btn-info">View/Edit</a>
            {% else %}
                <a href="{% url 'create_config' study.id %}" class="btn btn-success">Not set: Configure settings</a>
            {% endif %}
        </dd>
        <dt class="col-sm-4">Arms:</dt>
        <dd class="col-sm-9">
            <table class="table table-bordered table-hover" style="width: auto;">
                <thead>
                <tr>
                    <th class="table-primary">Arm</th>
                    <th class="table-primary">Description</th>
                    <th class="table-primary">Allocation ratio</th>
                </tr>
                </thead>
                <tbody>
                {% for arm in study.arms.all %}
                    <tr>
                        <td>{{ arm.name }}</td>
                        <td>{{ arm.description }}</td>
                        <td>{{ arm.ratio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-4">Factors:</dt>
        <dd class="col-sm-9">
            <table class="table table-bordered table-hover" style="width: auto;">
                <thead>
                <tr>
                    <th class="table-primary">Factor</th>
                    <th class="table-primary">Description</th>
                    <th class="table-primary">Weight</th>
                    <th class="table-primary">Levels</th>
                </tr>
                </thead>
                <tbody>
                {% for factor in study.factors.all %}
                    <tr>
                        <td>{{ factor.name }}</td>
                        <td>{{ factor.description }}</td>
                        <td>{{ factor.weight }}</td>
                        <td>
                            {% for level in factor.levels.all %}
                                <span class="badge badge-pill badge-primary">
                                    {{ level.name }}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-4">Admins:</dt>
        <dd class="col-sm-9">
            <ul class="list-group">
                {% for admin in study.admins.all %}
                    <li class="list-group-item">{{ admin.email }}</li>
                {% endfor %}
            </ul>
            <br />
            {# TODO 'add_admin' url #}
            <a class="btn btn-success" href="/add_an_admin">
                Add an admin
            </a>
        </dd>
        <hr class="w-100"/>
        <dt class="col-sm-4">Allocators:</dt>
        <dd class="col-sm-9">
            <ul class="list-group">
                {% for allocator in study.allocators.all %}
                    <li class="list-group-item">{{ allocator.email }}</li>
                {% endfor %}
            </ul>
            <br />
            {#  TODO: 'add_allocator url #}
            <a class="btn btn-success" href="/add_an_allocator">
                    Add an allocator
            </a>
        </dd>
    </dl>
{% endblock %}
