{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb_nav %}
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_list' %}">Studies</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>
        </div>
        <div class="breadcrumb-item">
            View/edit minimization
        </div>
    </div>
{% endblock %}

{% block heading %}
    <h2>View/edit minimization settings</h2>
{% endblock %}

{% block content %}
    <div class="card border-primary">
        <div class="card-body">
            {{ form.errors }}
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>

{% endblock %}

{% block extra_end_scripts %}
    <script src="{% static 'randomizer/js/minim_config_form_manager.js' %}"></script>
    <script>
        let form_data = {{ json_data | safe }};
        const n_arms = form_data['n_arms'];

        $(document).ready(function() { set_up_minim_config_form(n_arms); });
        $("#config_form").on("click touch", function() {
            update_minim_config_form(n_arms);
        });
    </script>
{% endblock %}

